@import "tailwindcss";

:root {
  --main-spacing: 1em;
  --light-blue: #00b6ff;
  --dark-blue: #0035ff;
}

.App {
  background: linear-gradient(360deg, var(--light-blue), var(--dark-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 1em;
  padding: 16px;
}

/* .container,
.data_container {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 500px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.1);
} */

/* .data_container {
  margin-top: 1em;
}

.header_container {
  padding: var(--main-spacing);
}

.header {
  font-size: 3em;
  font-weight: 400;
  color: black;
  text-align: center;
}

.sub_header {
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.weather_box {
  display: flex;
  overflow: hidden;
}

.cloud {
  position: fixed;
  top: 100px;
  left: -20px;
  right: auto;
  bottom: auto;
  z-index: 997;
  animation: left 2000ms;
}

.cloud2 {
  position: fixed;
  top: 100px;
  left: 130px;
  right: auto;
  bottom: auto;
  z-index: 998;
  animation: left 2900ms;
}

.cloud3 {
  position: fixed;
  top: 100px;
  left: 300px;
  right: auto;
  bottom: auto;
  z-index: 999;
  animation: right 3000ms;
}

.sun {
  position: fixed;
  top: 0;
  left: 280px;
  right: auto;
  bottom: auto;
  z-index: 0;
  animation: right 3000ms;
  border-radius: 50%;
}

.weather_info {
  color: black;
  padding: 0.5em;
}

.rain {
  animation: left 1500ms;
  z-index: 0;
  position: fixed;
  top: 250px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: 100vw;
}

.snow {
  animation: left 1500ms;
  z-index: 0;
  position: fixed;
  top: 350px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: 100vw;
} */

@keyframes left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes right {
  0% {
    transform: translateX(+200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ? Search  */

/* .search_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding: var(--main-spacing);
}

.search_header {
  color: rgba(0, 53, 255, 1);
  text-align: left;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}

.search_box {
  display: block;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 53, 255, 1);
  transition: 0.2s ease-in;
  color: blue;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.search_box:focus {
  border-bottom: 2px solid black;
  transition: 0.2s ease-out;
  outline: none;
  color: black;
}

.search_box:hover {
  border-bottom: 2px solid black;
  transition: 0.2s ease-out;
  color: black;
}

.search_submit {
  border: 2px solid;
  width: 100%;
  height: 2em;
  font-size: 1.2em;
  background-color: rgba(0, 53, 255, 1);
  border: none;
  border-radius: 0.3em;
  font-weight: 600;
  transition: 0.5s ease-out;
}

.search_submit:hover {
  border: 2px solid var(--dark-blue);
  background-color: white;
  color: var(--dark-blue);
  transition: 0.2s ease;
}

.error {
  display: flex;
  align-items: center;
  background-color: red;
  height: 2em;
  padding: 0.5em;
  width: 100%;
  border-radius: 0.3em;
  font-size: 1.2rem;
  margin-bottom: var(--main-spacing);
}

.loading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10em;
  gap: 1em;
}

.loading {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid transparent;
  animation: rotation 1s linear infinite;
  border-top: 3px solid rgba(0, 182, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading::after,
.loading::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid rgba(0, 53, 255, 1);
  width: 50px;
  height: 50px;
  animation: rotationBack 0.6s linear infinite;
}

.loading_text {
  width: 7.4pc;
  animation: typing 1.5s steps(15), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-weight: 700;
  font-size: 1.2em;
  color: rgba(0, 53, 255, 1);
} */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-400-Regular.otf");
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-700-Bold.otf");
  font-size: 800;
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-600-SemiBold.otf");
  font-size: 600;
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-500-Medium.otf");
  font-size: 500;
}

/* .weather_container {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 500px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.1);
  color: black;
  gap: 1em;
  padding-bottom: var(--main-spacing);
  margin-top: var(--main-spacing);
  overflow: scroll;
}
*/

::-webkit-scrollbar {
  width: 0px;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 16px;
}
/*
::-webkit-scrollbar-track {
  border-radius: 1em;
}

.weather_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--main-spacing);
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0 var(--main-spacing) 0 var(--main-spacing);
}

.weather_container hr {
  display: flex;
  align-self: center;
  border: 1px solid var(--light-blue);
  width: 100px;
}

.weather_condition {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.weather_header {
  text-align: center;
  margin: var(--main-spacing);
  font-size: 2em;
  font-weight: 600;
}

.weather_temp {
  text-align: center;
} */

@media screen and (max-width: 768px) {
  .container,
  .data_container,
  .weather_container {
    width: 100%;
  }
}

@theme {
  --animate-pulse-delay-200: pulse 1s ease-in-out infinite 0.2s;
  --animate-pulse-delay-400: pulse 1s ease-in-out infinite 0.4s;
  --animate-pulse-delay-600: pulse 1s ease-in-out infinite 0.6s;

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
}

@theme {
  --color-dark-blue: #0035ff;
}
