*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: DINpro;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
  font-family: DINpro;
}

#root {
  background: linear-gradient(360deg, var(--light-blue), var(--dark-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-400-Regular.otf");
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-700-Bold.otf");
  font-size: 800;
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-600-SemiBold.otf");
  font-size: 600;
}

@font-face {
  font-family: DINpro;
  src: url("./fonts/D-DIN-PRO-500-Medium.otf");
  font-size: 500;
}
